{% extends 'base.html' %}
{% load static %}

{% block head_title %}
<title>Sobre nosotros</title>
{% endblock head_title %}

{% block contenido %}
<h4 class="sobrenosotros">Este proyecto fue realizado por Dario Rodriguez y Luis Tecchio. Ambos venimos de otros cursos de Coderhouse como el de Desarrollo web, JavaScript, React JS y ahora el de Python. Dario por su parte realizo el de Programación Backend.<br>
Realizamos el trabajo por partes, uno hacia una parte mientras que el otro lo ayudaba, se realizaba un commit y el otro seguía con otra parte.<br>
Tuvimos que reiniciar el proyecto por un error en las migraciones, en el cual se intento solucionar el problema pero no pudimos, por lo que decidimos arrancarlo de nuevo por el tiempo.<br>
Se hicieron siempre las pruebas para corroborar que todo funcione.<br>
En el blog se va a poder registrar e iniciar sesión, agregar posteos individuales de cada usuario, esto significa que solo el dueño del posteo pueda eliminar o modificar sus posteos.
Va a poder ingresar imágenes y texto. En el perfil se va a poder modificar todos los datos incluida la contraseña.<br>
Agradecemos la enseñanza que nos brindo y a seguir aprendiendo!</h4>
{% endblock contenido %}