{% extends 'base.html' %}
{% load static %}

{% block head_title %}
<title>Blog</title>
{% endblock head_title %}

{% block buscador %}
    <li>
    	<form class="d-flex" role="search">
    		<input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" />
    		<button class="btn btn-outline-success" type="submit">Buscar</button>
    	</form>
    </li>
{% endblock buscador %}

{% block contenido %}
{% if post %}
<button><a href={% url 'crear' %}>Crear nuevo post</a></button>
{% for pt in post %}
<div>
    <h1>{{ pt.titulo }}</h1>
    {% if pt.subtitulo %}
        <h2>{{ pt.subtitulo }}</h2>
    {% endif %}
    
    <button>
        {% comment %} <a href={% url '' pt.id %}>Ver mas</a> {% endcomment %}
    </button>
    <button>
        {% comment %} <a href={% url '' pt.id %}>Modificar</a> {% endcomment %}
    </button>
    <button>
        {% comment %} <a href={% url '' pt.id %}>Eliminar</a> {% endcomment %}
    </button>
</div>
{% endfor %}
{% else %}
<h2>No hay datos cargados</h2>
<button><a href={% url 'crear' %}>Crear nuevo post</a></button>
{% endif %}
{% endblock contenido %}