{% extends 'base.html' %}
{% load static %}

{% block head_title %}
<title>Blog</title>
{% endblock head_title %}

{% block buscador %}
    <li>
    	<form class="d-flex" action="" method="get">
    		{{form}}
    		<button class="btn btn-outline-success">Buscar</button>
    	</form>
    </li>
{% endblock buscador %}

{% block contenido %}
{% if post %}
<button><a href={% url 'crear' %}>Crear nuevo post</a></button>
{% for pt in post %}
<div>
    <p>Nuevo Post de: {{pt.autor}} </p>
    <h3>{{ pt.titulo }}</h3>
    {% if pt.subtitulo %}
        <h5>{{ pt.subtitulo }}</h5>
    {% endif %}
    <button>
        <a href={% url 'ver_mas' pt.id %}>Ver mas</a>
    </button>
    {% if request.user == pt.autor %}
    <button>
        <a href={% url 'modificar' pt.id %}>Modificar</a>
    </button>
    <button>
        <a href={% url 'eliminar' pt.id %}>Eliminar</a>
    </button>
    {% endif %}
</div>
{% endfor %}
{% elif resultado %}
<h2>{{resultado}}</h2>
{% else %}
<h2>No hay datos cargados</h2>
<button><a href={% url 'crear' %}>Crear nuevo post</a></button>
{% endif %}
{% endblock contenido %}