{% extends 'base.html' %}
{% load static %}

{% block head_title %}
<title>Modificar post</title>
{% endblock head_title %}

{% block contenido %}
<h2>Modificar</h2>
<form class="editar" action={% url 'modificar' post.id %} method= "post" enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form }}
    {{ form.media }}
    <button class= "input" type= 'submit'>Guardar</button>
    <button class= "volver" type= 'button'>
        <a class= "navbar-brand" href={% url 'blog' %}>Volver</a>
    </button>
</form>
{% endblock contenido %}